<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.rish.mapper.LoginMapper">
    <select id="loginName" resultType="com.rish.pojo.Login">
        select * from tb_login where login_name = #{login_name} and password = #{password};
    </select>
    <select id="loginPhone" resultType="com.rish.pojo.Login">
        select * from tb_login where phone_number = #{phoneNumber};
    </select>
</mapper>